{% block breadcrumbs %}
{% if trail|length() %}
<div id="breadcrumbs">
    {% for crumb in trail %}
        <a href="{% if crumb.url %}{{ crumb.url }}{% else %}#{% endif %}" {% if loop.last %} class="last"{% endif %}>{{ crumb.title }}</a>
        {% if not loop.last %} &gt;{% endif %}
    {% endfor %}
</div>
{% endif %}
{% endblock %}