{% block breadcrumbs %}
{% if trail|length() %}
<div id="breadcrumbs">
    {% for crumb in trail %}
        {% if not loop.last %}
			<a href="{{ crumb.url }}">{{ crumb.title }}</a> &gt;
        {% endif %}
		{% if loop.last %}
			<a href="{{ crumb.url }}" class="last">{{ crumb.title }}</a>
		{% endif %}
    {% endfor %}
</div>
{% endif %}
{% endblock %}